<template>
  <div>
    <h1>Hello {{ user.name }}</h1>
    <a @click="logout" href="javascript:void(0)">Logout</a>
  </div>
</template>

<script>
import axios from 'axios'

axios.defaults.withCredentials = true;
axios.defaults.baseURL = "http://airlock.test/"

export default {
  data: function() {
    return {
      user: {}
    }
  },
  async created() {
    try {
      const response = await axios.get('api/user');
      this.user = response.data;
    } catch (e) {
      this.$router.replace('/')
      console.error(e);
    }
  },

  methods: {
    async logout() {
      try {
        await axios.post('/logout');
        this.$router.replace('/')
      } catch (e) {
        console.error("Error in logout", e);
      }
    }
  }
}
</script>

<style>

</style>